﻿html, body {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    height:100%;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    /*padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
        width: 97%;
    height: 30px;
    text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.Panel {
    float: left;
}

.button {
height:100px;
width:100px;
}

.View {
width:100%;
height:auto;
position:relative;
float:left;
}

.Model {
    float: left;
    width:64%;
    height:auto;
    /*position: absolute;*/
  
    display:block;
    /*margin-top:100px;*/
    z-index:0;
}

.Makers {
    float:left;
    overflow-y:scroll;
    width:520px;
    height:auto;
}
.button2 {
    width:150px;
    height:100px;
}

.navcontainer ul
 {
 margin: 0;
 padding: 0;
 list-style-type: none;
 text-align: center;
 display:inline;
 }

.headerLogo {
    float:left;
    display:inline;
}

.headerLine  {
    float:left;
    display:inline;
    width:100%;
    padding:0;
    background-color:black;
}


 /*.navcontainer ul li { display: inline;
                       
 }*/

 .navcontainer ul li a
 {
 /*text-decoration: none;
 padding: .2em 1em;
 color: #fff;*/
 /*background-color: #036;*/
 }

/*.navcontainer ul li a:hover
 {
 color: #fff;
 background-color: #369;
 }*/

.navcontainer {
    /*position:absolute;*/
    float:right;
    width:12%;
    display:block;
    /*padding-top:105px;*/
    /*padding-left:1450px;*/
   
}

.navcontainer3 {
    /*position:relative;*/
    float:right;
    width:30%;
    /*display:table;*/
    height:100%;
    /*padding-top:105px;*/
    /*padding-left:1450px;*/
   
}


.navcontainer3 ul
 {
 margin: 0;
 padding: 0;
 list-style-type: none;
 text-align: center;
 display:inline;
 }

/*.navcontainer ul {
width:80px;
}*/

.navbar-collapse2 ul {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 2px;
}

.navbar-collapse2 ul li {
    display: inline;
    
    /*text-align: -webkit-match-parent;*/
}

.navbar-collapse2 {
    /*margin-left:58%;*/
    float:right;
    display: inline;
 
}

.logo {
    float:left;
   
    /*padding-right:59em;*/
    margin-right:74%;
}

/*#header 
{ border-top: 1px solid #778899; border-bottom: 1px dotted #B2BCC6; height: 3em; }*/


.navcontainer2 ul
 {
 list-style-type: none;
 text-align: center;
 display:inline;
 }

.navcontainer2 ul li { 
    display: inline; 
    padding-left:10px;
    padding-right:10px;
}

.navcontainer2 {
    float:left;
    width:100%;
    /*padding-left:3px;*/
    background-color:#E5E1DF;
}

.SmallPicture {
    width:60px;
}

.BigPicture {
    width:100%;

}
.borderimg {
    width: 100%;
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none;
    /*text-decoration-color:black;*/
   color:black;
}


.Items {
   /*height:70px;*/
   /*overflow-y:scroll;*/
    margin-bottom:10px;
   position:absolute;
   margin-left:-50px;
   margin-top:246px;
   width:150px;

}


.Items2 {
   /*height:70px;*/
   /*overflow-y:scroll;*/
    margin-bottom:10px;
   /*position:absolute;
   margin-left:-50px;
   margin-top:246px;*/
   width:150px;
   display:table-cell;

}


.borderimg2 {
    width:96%;
    /*overflow-y:scroll;*/
     height:160px;
     /*padding-bottom:5px;*/
}

.Save_button {
    
    position: absolute;
    bottom: 1px;
    width: 100%;

}

#Elements_1 > a {
    float:right;
}

#Elements_1 > li:nth-child(1) {
    display:inline;
}

table.lamp {
    width:100%;
    border:1px solid #d4d4d4;
}
table.lamp th, td { 
    /*padding:10px;*/
}
table.lamp th {
    width:30px;
}

#Elements_1  li  table  tbody  tr  th  img {
   height:40px;
   width:40px;
}

.navcontainer-half {
   
    /*float:left;*/
    display:inline;
    position:absolute;
    margin-left:-213px;
    /*margin-top:50px;*/
    list-style-type: none;
   
}

.navcontainer-half ul {
    list-style-type: none;
    padding:0;
}


.navcontainer-half3 {
   
    /*float:left;*/
    display:inline;
    position:absolute;
    margin-left:-213px;
    /*margin-top:50px;*/
    list-style-type: none;
   
}

.navcontainer-half3 ul {
    list-style-type: none;
    padding:0;
}

.navcontainer-half2 {
    /*padding-left:3px;*/
    /*float:right;*/
    /*width:242px;*/
     display:inline;
     position:absolute;
     margin-left:-213px;
    margin-top:246px;
    
}

.navcontainer-half2 ul {
    list-style-type: none;
    padding:0;
}


.navcontainer-half4 {
    /*padding-left:3px;*/
    /*float:right;*/
    /*width:242px;*/
     display:inline;
     position:absolute;
     margin-left:-213px;
    margin-top:246px;
    
}

.navcontainer-half4 ul {
    list-style-type: none;
    padding:0;
}

.SmallPictureBlue {
   height:43px;
    width:13%;
    background:blue;
    color:blue;
    display:inline-block;
   
}

.SmallPictureRed {
    height:43px;
    width:13%;
    background:red;
      display:inline-block;
}

.SmallPictureYellow {
   height:43px;
    width:13%;
    background:yellow;
     display:inline-block;
}

.SmallPictureGrey {
    height:43px;
    width:13%;
    background:grey;
     display:inline-block;
}

.SmallPictureBlack {
    height:43px;
    width:13%;
    background:black;
     display:inline-block;
}

.SmallPicturePurple {
    height:43px;
    width:13%;
    background:purple;
     display:inline-block;
}

.SmallPictureGreen {
      height:43px;
    width:13%;
    background:green; 
     display:inline-block;
}

.Colors {
       width: 100%;
    /*height: 111px;*/
    /*padding-top: 11px;
    padding-bottom: 11px;*/
    display:inline;
}

.Colors ul li{
      /*width: 111px;
    height: 111px;*/
      /*display:inline;*/
      /*width:10%;*/
}

.Makers_list {
   
   margin-bottom:10px;
   position:absolute;
   margin-left:-50px;
   margin-top:120px;
   width:150px;

}

.Makers_list2 {
   
   /*margin-bottom:10px;
   position:absolute;
   margin-left:-50px;
   margin-top:120px;
   width:150px;*/
   display:table-cell;
   height:50%;
}

.menu_first {
    float:right;
    display:block;
    width:56%;
}

.menu_first2 {
    float:right;
    display:block;
    width:30%;
    height:100%;
}


.Materials {
    display:inline;
    position:absolute;
    width:150px;
    margin-left:-50px;
    text-align:center;
    list-style-type:none;

}

.Materials ul {
    /*width:200px;*/
      list-style-type:none;
}


.Materials2 {
    /*display:inline;*/
    /*position:absolute;*/
    width:30%;
    text-align:center;
    list-style-type:none;
    height:30%;
    float:right;
    

}

.Materials2 ul {
    /*width:200px;*/
      list-style-type:none;
}


.listgroup1 {
    padding: 10px 15px;
    /*background-color: #fff;*/
    border: 1px solid #ddd;
}

input {
        width: 97%;
    height: 30px;
    text-align: center;
}


input2 {
        width: 97%;
    height: 30px;
    text-align: center;
}

#picture_test {
    width:40px;
    height:40px;
}

body > div.div2 > div.div_items > a:nth-child(2) {
   vertical-align:bottom;
   position:absolute;
   margin-bottom:5%;
}

body > div.div2 > div.div_items > a:nth-child(3) > img {
    position:absolute;
    padding-left:30%;
    margin-top:50%;
}

body > div.div2 > div.div_items > div.Opisanie > ul > li:nth-child(2) > a {
    font-size:small;
}

 .div2 ul li div a img {
     width:40px;
    height:40px;
    
 }

.div_items {
  height:auto;
  border: 1px solid #ddd;
  overflow-y:auto;
  background-color: white;
 }

/*.div_items2 {
     display:inline;

 }*/

.Izdelie {
  overflow: hidden;
    display:inline;
}

.Opisanie {
    float:right;
   display:inline;
   word-wrap: break-word;
   max-height: 100px;
   width: 55%;
  overflow: hidden;
}

.Opisanie ul {
    display:inline;
}

.fullwidthImage {
  
    width:40%;
}

.SmallPicture2 {
    width:99%;
}

.div_makers {
       border: 1px solid #ddd;
}

.div_1 {
    height:100%;
}

.div_1 ul li a {
    position:absolute;
    bottom:55px;
    left:27%;
}
/*Test*/

/*layout css*/
/*layout css*/
 /*body, html {
  min-height:100%;
  padding:0;
  margin:0
}
body {
  font:12px/1.2em Arial, Helvetica, sans-serif;
  color:#999;
  padding:0 100px;
  margin:0;
}
.header {
  background:#ccc;
  padding:10px;
  text-align:center;
  margin:0 0 20px 0;
}*/
.conteiner {
  margin: auto;
  max-width: 800px;
}
h2,
hr{clear:both}
/*plugin css*/

/*skin Plank [.skinPlank]*/
 .skinPlank, .skinPlank ul {
  margin:0;
  padding:0;
  list-style:none;
}
.skinPlank ul {
  display:none;
  //zoom:1
}
.skinPlank li {
  list-style:none;
  padding:0;
  margin:0;
  display:block;
  //zoom:1;
}
.skinPlank a {
  font:19px/1.2em Arial, Helvetica, sans-serif;
  color:#fff;
  background:#7F7F7F;
  padding:6px 25px 4px 10px;
  display:inline-block;
  text-decoration:none;
  box-shadow:inset 0 5px 10px -5px #454545;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position:relative
}
.skinPlank a:hover, .skinPlank a.cur {
  background:#5c5c5c
}
.skinPlank ul li {
  border-top:1px solid #ccc;
}
.skinPlank ul a {
  font:12px/1.2em Arial, Helvetica, sans-serif;
  color:#808080;
  padding:7px 10px 7px 10px;
  background:#E5E8EB;
  box-shadow:none;
  display:block;
  text-decoration:underline
}
.skinPlank ul a.cur {
  color:#000;
  background:#E5E8EB;
}
.skinPlank ul a:hover {
  background:#CED3D9
}
.skinPlank ul ul li {
  border-top:1px solid #b1b7be;
  margin:0 0 0 10px
}
.skinPlank ul ul a, .skinPlank ul ul a.cur {
  background:#CED3D9
}
.skinPlank ul ul a:hover {
  background:#c0c5cc
}
.skinPlank a.harFull:before {
  //zoom:1;
  content:'';
  width: 0;
  height: 0;
  border:0;
  border-top: 4px solid transparent;
  border-left: 5px solid #fff;
  border-bottom: 4px solid transparent;
  display:block;
  margin:7px 0 0 10px;
  position:absolute;
  top:6px;
  right:10px;
}
.skinPlank ul a.harFull:before {
  //zoom:1;
  content:'';
  border-left-color: #7d7d7d;
  margin-top:4px;
}
/*skin Clear [.skinClear]*/
 .skinClear, .skinClear ul {
  list-style:none;
  padding:0;
  margin:0;
  font:14px/1.2em Arial, Helvetica, sans-serif
}
.skinClear ul {
  display:none;
  margin:0 0 0 10px;
  //zoom:1
}
.skinClear li {
  list-style:none;
}
.skinClear a {
  color:#888;
  display:block;
  position:relative;
  text-decoration:none;
  padding:1px 0 1px 9px;
}
.skinClear a:before {
  //zoom:1;
  content:'';
  width: 0;
  height: 0;
  border:0;
  border-top: 3px solid transparent;
  border-left: 4px solid #ccc;
  border-bottom: 3px solid transparent;
  display:inline-block;
  position:absolute;
  top:5px;
  left:0px;
  margin:0 4px 0 0;
}
.skinClear a.harFull.harOpen:before {
  border:0;
  border-left: 3px solid transparent;
  border-top: 4px solid #000;
  border-right: 3px solid transparent;
  top:7px;
}
.skinClear a.harFull:before {
  border:0;
  border-top: 3px solid transparent;
  border-left: 4px solid #000;
  border-bottom: 3px solid transparent;
  top:5px;
}
.skinClear a:hover {
  text-decoration:underline;
}
.skinClear a.cur {
  color:#000
}
.skinClear a.harOpen {
  color:#000
}

.div1 {
    display:inline-block;
    float:right;
    width:7%;
    word-wrap: break-word;
    min-width: 150px;
    height:92%;
    position:relative;
    background-color:#E5E1DF;
}

.div1 ul 
{
    list-style-type:none;
      padding:0;
      margin:0;
     height: 100%;
}

.div2 {
    /*position:relative;*/
    /*margin-left:20%;*/
    display:inline-block;
    float:right;
     width:12%;
     min-width: 150px;
    background-color:#E5E1DF;
}

.div2 ul 
{
    list-style-type:none;
    padding:0;
    margin:0;
}

.div3 {
    /*position:relative;
    margin-left:20%;*/
    display:inline-block;
    float:right;
    width:7%;
    word-wrap: break-word;
    min-width: 150px;
      z-index:1;
      background-color:#E5E1DF;
}

.div3 ul 
{
    list-style-type:none;
       padding:0;
       margin:0;
}

#Elements_1  li table  tbody tr td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}