﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>

    <div class="div1">
        <ul id="Elements_1">
            <li class="listgroup1"><a href="#">Стены</a><img class="SmallPicture" src="~/Content/Img/wall22.png"></li>
            <li class="listgroup1"><a href="#">Кровля</a><img class="SmallPicture" src="~/Content/Img/krovlya22.png"></li>
            <li class="listgroup1"><a href="#">Окна</a><img class="SmallPicture" src="~/Content/Img/windows22.png"></li>
            <li class="listgroup1"><a href="#">Витражное остекление</a><img class="SmallPicture" src="~/Content/Img/m_windows22.png"></li>
            <li class="listgroup1"><a href="#">Мансардные окна</a><img class="SmallPicture" src="~/Content/Img/vitrazh22.png"></li>
            <li class="listgroup1"><a href="#">Терасса</a><img class="SmallPicture" src="~/Content/Img/terassa22.png"></li>
            <li class="listgroup1"><a href="#">Потолок терассы</a><img class="SmallPicture" src="~/Content/Img/potolok_terasi22.png"></li>
        </ul>
    </div>
    <div class="div2">
        <ul id="Material-full">
            <li class="listgroup1"><a href="#">Материалы</a></li>
            <li class="listgroup1"><a href="#">Изделия</a></li>
            <li class="listgroup1"><a href="#">Цвет</a></li>
            @*<li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
            <li><img class="borderimg" src="~/Content/Img/Material_3.png" /></li>
            <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
            <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
            <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>*@
            @*<li><img class="borderimg" src="~/Content/Img/Material_5.png"<img /></li>*@
        </ul>
        <ul>
            <li class="listgroup1"><a href="#">Ruuki</a></li>
            <li class="listgroup1"><a href="#">Laminam</a></li>
            <li class="listgroup1"><a href="#">Показать всех</a></li>
        </ul>
        <ul>
            <li class="listgroup1"><a href="#">ITEMS</a></li>
            <li class="listgroup1"><a href="#">ITEMS2</a></li>
            <li class="listgroup1"><a href="#">ITEMS3</a></li>
            <li class="listgroup1"><a href="#">ITEMS4</a></li>
        </ul>
    </div>
    <div class="div3">
        <ul id="Material-half">
            <li><input placeholder="Название материала..." /></li>
            <li class="listgroup1"><a href="#">Керамика</a></li>
            <li class="listgroup1"><a href="#">Металл</a></li>
            <li class="listgroup1"><a href="#">Пластик</a></li>
            <li class="listgroup1"><a href="#">Дерево</a></li>
            <li class="listgroup1"><a href="#">Озеленение</a></li>
        </ul>
    </div>

    @*<div> 
        <h2 class="menu-trigger">Menu</h2>
        <ul id="menu">
            <li>
                Cool
            </li>
            <li>
                Cool1
            </li>
            <li>
                Cool
            </li>
            <li>
                Cool1
            </li>
        </ul>
    </div>*@
    @Scripts.Render("~/Scripts/Jpanel.js")
</body>
</html>
