﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <header>
        <div class="headerLine">
            <div class="headerLogo"><img src="~/Content/Img/slon_brand1.png" class="logo" /></div>
            <div class="navbar-collapse2">
                <ul>
                    <li><img src="~/Content/Img/call2.png" /></li>
                    <li><img src="~/Content/Img/Backoffice2.png" /></li>
                    <li><img src="~/Content/Img/search2.png" /></li>
                </ul>
            </div>
        </div>
    </header>
  
        <div class="Model">
            <img class="View" src="~/Content/Img/house.jpg" />
            <div class="navcontainer2">
                <div id="Operation_buttons">
                    <ul>
                        <li><img src="~/Content/Img/zoom1.png" /></li>
                        <li><img src="~/Content/Img/zoom_out.png" /></li >
                        <li><img src="~/Content/Img/box.png" /></li>
                        <li><img src="~/Content/Img/house.png" /></li >
                        <li><img src="~/Content/Img/profile.png" /></li>
                        <li><img src="~/Content/Img/fullscreen.png" /></li >
                        @*<li><img src="~/Content/Img/cool_button.png" /></li>
                            <li><img src="~/Content/Img/cool_button.png" /></li>*@
                        @*<li><img class="Save_button" href="#" src="~/Content/Img/save.png" /><img /></li>*@
                    </ul>
                </div> <!--id="Operation_buttons">-->
            </div>  <!-- navcontainer2 -->
        </div> <!-- div Model -->
    <div class="div1">
        <div class="div_1">
            <ul id="Elements_1">
                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/wall222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Стены
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/krovlya222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Кровля
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/windows222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Окна
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/m_windows222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Витражное остекление
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/vitrazh222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Мансардные окна
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/terassa222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Терасса
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <table class="lamp">
                        <tr>
                            <th>
                                <img src="~/Content/Img/potolok_terasi222.png" alt="Note" style="height:42px;width:42px">
                            </th>
                            <td>
                                Потолок терассы
                            </td>
                        </tr>
                    </table>
                </li>
                <li><a href="#"><img class="Save_button" href="#" src="~/Content/Img/save2.png" /><img />Показать</a></li>
            </ul>
        </div>
    </div> 
    <div class="div2">
        <div class="div_materials">
            <ul id="Material-full">
                <li class="listgroup1"><a href="#">Материалы</a></li>
                <li class="listgroup1"><a href="#">Изделия</a></li>
                <li class="listgroup1"><a href="#">Цвет</a></li>
                @*<li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_3.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>*@
                @*<li><img class="borderimg" src="~/Content/Img/Material_5.png"<img /></li>*@
            </ul>
        </div>
        <div class="div_makers">
            <ul>
                <li><div><a href="#"></a><img class="SmallPicture2" src="~/Content/Img/ruukki.jpg"></div></li>
                <li><div><a href="#"></a><img class="SmallPicture2" src="~/Content/Img/laminam.jpg"></div></li>
                <li class="listgroup1"><a href="#">Показать всех</a></li> 
            </ul>
        </div>
        <div class="div_items">
            <div class="Izdelie">
                <img class="fullwidthImage" src="~/Content/Img/cool_button.png" />
            </div>
            <div class="Opisanie">
                <ul>                    
                    <li>
                        <a href="#">Название</a>
                    </li>
                    <li>
                <a href="#">Описание</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="div_items">
            <div class="Izdelie">
                <img class="fullwidthImage" src="~/Content/Img/cool_button.png" />
            </div>
            <div class="Opisanie">
                <ul>
                    <li>
                        <a href="#">Название</a>
                    </li>
                    <li>
                        <a href="#">Описание выфв фывфыв фыв фыв фыв фыв фыв ы вы выф в ыфвфыв фыв ыфв фыв фыв фыв фыв фыв фы выфв фыв фыв </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="div_items">
            <div class="Izdelie">
                <img class="fullwidthImage" src="~/Content/Img/cool_button.png" />
            </div>
            <div class="Opisanie">
                <ul>
                    <li>
                        <a href="#">Название</a>
                    </li>
                    <li>
                        <a href="#">Описание</a>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="div_items2">
            <ul>
            <li class="listgroup1"><a href="#">ITEMS</a></li>
            <li class="listgroup1"><a href="#">ITEMS2</a></li>
            <li class="listgroup1"><a href="#">ITEMS3</a></li>
            <li class="listgroup1"><a href="#">ITEMS4</a></li>
        </ul>
    </div>*@
        </div>
    <div class="div3">
        <ul id="Material-half">
            <li><input placeholder="Название материала..." /></li>
            <li class="listgroup1"><a href="#">Керамика</a></li>
            <li class="listgroup1"><a href="#">Металл</a></li>
            <li class="listgroup1"><a href="#">Пластик</a></li>
            <li class="listgroup1"><a href="#">Дерево</a></li>
            <li class="listgroup1"><a href="#">Озеленение</a></li>
        </ul>
    </div>

    @*<div class="navcontainer">
        <div class="menu_first" id="Elements">
            <ul id="Elements_1">
                <li class="listgroup1"><a href="#">Стены</a><img class="SmallPicture" src="~/Content/Img/wall22.png"></li>
                <li class="listgroup1"><a href="#">Кровля</a><img class="SmallPicture" src="~/Content/Img/krovlya22.png"></li>
                <li class="listgroup1"><a href="#">Окна</a><img class="SmallPicture" src="~/Content/Img/windows22.png"></li>
                <li class="listgroup1"><a href="#">Витражное остекление</a><img class="SmallPicture" src="~/Content/Img/m_windows22.png"></li>
                <li class="listgroup1"><a href="#">Мансардные окна</a><img class="SmallPicture" src="~/Content/Img/vitrazh22.png"></li>
                <li class="listgroup1"><a href="#">Терасса</a><img class="SmallPicture" src="~/Content/Img/terassa22.png"></li>
                <li class="listgroup1"><a href="#">Потолок терассы</a><img class="SmallPicture" src="~/Content/Img/potolok_terasi22.png"></li>
            </ul>
        </div>

        <div class="Materials" id="Matetials">
            <ul id="Material-full">
                <li class="listgroup1"><a href="#">Материалы</a></li>
                <li class="listgroup1"><a href="#">Изделия</a></li>
                <li class="listgroup1"><a href="#">Цвет</a></li>
                @*<li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_3.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                @*<li><img class="borderimg" src="~/Content/Img/Material_5.png"<img /></li>
            </ul>
        </div>
        <div class="Makers_list">
            <ul>
                <li class="listgroup1"><a href="#">Ruuki</a></li>
                <li class="listgroup1"><a href="#">Laminam</a></li>
                <li class="listgroup1"><a href="#">Показать всех</a></li>
            </ul>
        </div>
        <div class="Items">
            <ul>
                <li class="listgroup1"><a href="#">ITEMS</a></li>
                <li class="listgroup1"><a href="#">ITEMS2</a></li>
                <li class="listgroup1"><a href="#">ITEMS3</a></li>
                <li class="listgroup1"><a href="#">ITEMS4</a></li>
            </ul>
        </div>
        <div class="navcontainer-half">
            <ul id="Material-half">
                <li><input placeholder="Название материала..."/></li>
                <li class="listgroup1"><a href="#">Керамика</a></li>
                <li class="listgroup1"><a href="#">Металл</a></li>
                <li class="listgroup1"><a href="#">Пластик</a></li>
                <li class="listgroup1"><a href="#">Дерево</a></li>
                <li class="listgroup1"><a href="#">Озеленение</a></li>
            </ul>
        </div>
        <div class="navcontainer-half2" id="material-half2">
            <ul>
                <li class="listgroup1"><a href="#">navcontainer-half2</a></li>
                <li class="listgroup1"><a href="#">navcontainer-half2</a></li>
            </ul>
        </div>
    </div>*@<!-- div navcontainer-->
            @*<div class="navcontainer-half">
                <ul id="Material-half">
                   <li><input /></li>
                    <li id="2"><a href="#">Керамика</a>
                     <ul>
                        <li>
                            Первый
                        </li>
                         <li>
                             Второй
                         </li>
                     </ul>
                    </li>
                        <li id="1"><a href="#">Металл</a></li>
                        <li id="2"><a href="#">Пластик</a></li>
                        <li id="1"><a href="#">Дерево</a>
                            <ul>
                                <li>
                                    Первый
                                </li>
                               
                            </ul>
                    </li>
                        <li id="2"><a href="#">Озеленение</a></li>
                    </ul>
            </div>*@ <!---navcontainer-half-->
            @*<div class="navcontainer-half2" id="material-half2">
                
                <ul>
                    <li id="1"><a href="#">navcontainer-half2</a></li>
                    <li id="2"><a href="#">navcontainer-half2</a></li>
                </ul>
            </div>*@ <!---navcontainer-half2-->

            @*<div id="Products">
                <ul id="Products_list">
                    <li><img class="borderimg" src="~/Content/Img/Product2.png"<img /></li>
                    <li><img class="borderimg" src="~/Content/Img/Product1.png"<img /></li>
                    @*<li><img class="borderimg" src="~/Content/Img/product3.png"<img /></li>
                </ul>
            </div>*@
            @*<ul id="Colors">
                <li><img class="SmallPictureGreen" src="~/Content/Img/colors_green.png"<img /></li>
                <li><img class="SmallPictureBlue" src="~/Content/Img/colors_blue.png"<img /></li>
                <li><img class="SmallPictureRed" src="~/Content/Img/colors_red.png"<img /></li>
                <li><img class="SmallPictureBlack" src="~/Content/Img/colors_black.png"<img /></li>
                <li><img class="SmallPictureGrey" src="~/Content/Img/colors_grey.png"<img /></li>
                <li><img class="SmallPicturePurple" src="~/Content/Img/colors_purple.png"<img /></li>
                <li><img class="SmallPictureYellow" src="~/Content/Img/colors_yellow.png"<img /></li>
            </ul>*@
            @*<div class="Colors">
                    <ul>
                        <li><div class="SmallPictureBlue"></div></li>
                        <li><div class="SmallPictureRed"></div></li>
                        <li><div class="SmallPictureYellow"></div></li>
                        <li><div class="SmallPictureGrey"></div></li>
                        <li><div class="SmallPictureBlack"></div></li>
                        <li><div class="SmallPicturePurple"></div></li>
                        <li><div class="SmallPictureGreen"></div></li>
                    </ul>
                </div>*@
            @*<ul id="Maker">
                <li><img class="borderimg" src="~/Content/Img/maker.png"<img /></li>
            </ul>*@
            @*<div class="Makers_list">
                <ul>
                    <li><img class="borderimg" src="~/Content/Img/makers.png"><img /></li>
                </ul>
            </div>*@
            @*<div class="Items">
                <ul>
                    <li><img class="borderimg" src="~/Content/Img/Menu_items.png"><img /></li>
                </ul>
            </div>*@
        @*</div>*@


        @*<ul>
                            <li>
                                <div class="Material">
                                    <img src="~/Content/Img/wall.jpg" alt="#">
                                    <img src="~/Content/Img/krovlya.jpg" alt="#">
                                    <img src="~/Content/Img/window.jpg" alt="#">
                                    <img src="~/Content/Img/m_window.jpg" alt="#">
                                </div>
                            </li>
                        </ul>
                                <div class="Material">
                                    <button class="button" src="~/Content/Img/wall.jpg"></button>
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                    </div>

                        <ul>
                            <li>
                                <div class="Material">
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                    <button class="button" src="~/Content/Img/001.jpg"></button>
                                </div>
                            </li>
            </ul>
                    <div class="Makers">
                        <ul>
                            <li>
                                <div class="Material">
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                            <div class="Material">
                                <button class="button2" src="~/Content/Img/001.jpg"></button>
                                <button class="button2" src="~/Content/Img/001.jpg"></button>
                                <button class="button2" src="~/Content/Img/001.jpg"></button>
                            </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="Material">
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                    <button class="button2" src="~/Content/Img/001.jpg"></button>
                                </div>
                                </li>
            </ul>
                    </div>*@



        @*<footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>*@

   




</body>
</html>