﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.Vert.js")
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
    

        <div style="width:200px; float:left; margin:0 50px 20px 0">
         
            <ul class="anyClass skinPlank">
                <li>
                    <a href="#">Very long link</a>

                    <ul>
                        <li>
                            <a href="#">Clickable link One</a>
                        </li>
                        <li>
                            <a class="cur" href="#">Clickable link Two</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Three</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Four</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Five</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Short link</a>

                    <ul>
                        <li>
                            <a href="#">Clickable link One</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Two</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Three</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Four</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Very long link</a>
                </li>
                <li>
                    <a href="#">Short link</a>

                    <ul>
                        <li>
                            <a href="#">Clickable link One</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Two</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Three</a>
                        </li>
                        <li>
                            <a href="#">Clickable link Four</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    

    <div>
          <div style="display:inline">
              <img src="~/Content/Img/cool_button.png" />
          </div>
           <div style="display:inline">
            dsadasd
          </div>
           <div style="display:block; margin-left:40%;">
               dsadasd
           </div>
        </div>




        @*<div class="menu_first2" id="Elements">
            <ul id="Elements_1">
                <li class="listgroup1"><a href="#">Стены</a><img class="SmallPicture" src="~/Content/Img/wall22.png"></li>
                <li class="listgroup1"><a href="#">Кровля</a><img class="SmallPicture" src="~/Content/Img/krovlya22.png"></li>
                <li class="listgroup1"><a href="#">Окна</a><img class="SmallPicture" src="~/Content/Img/windows22.png"></li>
                <li class="listgroup1"><a href="#">Витражное остекление</a><img class="SmallPicture" src="~/Content/Img/m_windows22.png"></li>
                <li class="listgroup1"><a href="#">Мансардные окна</a><img class="SmallPicture" src="~/Content/Img/vitrazh22.png"></li>
                <li class="listgroup1"><a href="#">Терасса</a><img class="SmallPicture" src="~/Content/Img/terassa22.png"></li>
                <li class="listgroup1"><a href="#">Потолок терассы</a><img class="SmallPicture" src="~/Content/Img/potolok_terasi22.png"></li>
            </ul>
        </div>

        <div class="Materials2" id="Matetials">
            <ul id="Material-full">
                <li class="listgroup1"><a href="#">Материалы</a></li>
                <li class="listgroup1"><a href="#">Изделия</a></li>
                <li class="listgroup1"><a href="#">Цвет</a></li>
                @*<li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                    <li><img class="borderimg" src="~/Content/Img/Material_3.png" /></li>
                    <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                    <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>
                    <li><img class="borderimg" src="~/Content/Img/Material_4.png" /></li>*@
                @*<li><img class="borderimg" src="~/Content/Img/Material_5.png"<img /></li>
            </ul>
        </div>
        <div class="Makers_list2">
            <ul>
                <li class="listgroup1"><a href="#">Ruuki</a></li>
                <li class="listgroup1"><a href="#">Laminam</a></li>
                <li class="listgroup1"><a href="#">Показать всех</a></li>
            </ul>
        </div>
        <div class="Items2">
            <ul>
                <li class="listgroup1"><a href="#">ITEMS</a></li>
                <li class="listgroup1"><a href="#">ITEMS2</a></li>
                <li class="listgroup1"><a href="#">ITEMS3</a></li>
                <li class="listgroup1"><a href="#">ITEMS4</a></li>
            </ul>
        </div>
        <div class="navcontainer-half3">
            <ul id="Material-half">
                <li><input placeholder="Название материала..." /></li>
                <li class="listgroup1"><a href="#">Керамика</a></li>
                <li class="listgroup1"><a href="#">Металл</a></li>
                <li class="listgroup1"><a href="#">Пластик</a></li>
                <li class="listgroup1"><a href="#">Дерево</a></li>
                <li class="listgroup1"><a href="#">Озеленение</a></li>
            </ul>
        </div>
        <div class="navcontainer-half4" id="material-half2">
            <ul>
                <li class="listgroup1"><a href="#">navcontainer-half2</a></li>
                <li class="listgroup1"><a href="#">navcontainer-half2</a></li>
            </ul>
        </div>*@
    <!-- div navcontainer-->
</body>
</html>
